div {
    position: absolute;
    width: 100px;
    height: 100px;
}

img {
    width: 100%;
    height: 100%;
}

main {
    background-image: url("63121378-beautiful-space-background-with-stardust-and-stars-deep-far-space-cosmic-glowing-colors-milky-way-co.jpg");
    width: 50em;
    height: 50em;
    position: relative;
}